/* Normalize */
html {
    font-family: sans-serif; /* 1 */
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
}
body {
    margin: 0;
}
h1 {
    font-size: 2em;
    /*margin: 0.67em 0;*/
}
/**/

body {
    /*background: whitesmoke;*/
}
.fixedMenu {
    position: fixed;
    width: 100%;
    background-color: lawngreen;
    /*z-index: 210;*/
}

.hiddenSection1 {
    background-color: lavender;
}
.hiddenSection2 {
    background-color: lavender;
}
/*.prevSibling {*/
    /*outline:1px solid rgba(255, 0, 0, 0.3);*/
    /*padding: -13px 0;*/
/*}*/

/*.nextSibling {*/
    /*outline:1px solid rgba(255, 0, 0, 0.3);*/
    /*display: inline-block;*/
    /*width: 100%;*/
/*}*/

/* afterBottomParent */
.isliderCloseButton {
    transform: rotate(45deg);
}
html { overflow-y: scroll; }

.iSlider-trigger-icon {
    margin: 0 auto; /* align to center */
    width: 48px;
    /*height: 48px;*/
    /*background: url(img/plus.png) no-repeat;*/
    /*background-size: cover;*/
    /*transition: transform 1s cubic-bezier(0.6, 0, 0.48, 1);*/
}

.iSlider-trigger-icon2 {
    margin: 0 auto; /* align to center */
    width: 48px;
}
